@using Microsoft.AspNet.Identity;
@using MovieList.Models;
<!DOCTYPE html>
<html ng-app>
<head>

    <link href="~/Content/css/listofmovies.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/UserProfile.css" rel="stylesheet" type="text/css" />
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
        
    </style>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @*<input type="text" ng-model="Angular" />
    <h1>{{Angular}}</h1>*@

    @if(ViewBag.User == null)
    { 
        <div class="row">
            @foreach (var b in ViewBag.Notes )
            {
                <div class="notation">
                    <div class="title">
                        <h4><a href="@b.Movie.IMDBLink" style="color: black;">@b.Movie.Title (@b.Movie.EventDate)</a> </h4>
                    </div>
                    <div class="poster">
                        <a href="@b.Movie.IMDBLink"><img src="@b.Movie.Poster" /></a>
                    </div>

                    <div class="author">
                        <div class="authorname">
                            @*<a> @b.UserName </a>*@    
                        </div>              
                        <div class="mark">
                            @if (b.Mark != null)
                            {
                                for (int i = 0; i < Int32.Parse(b.Mark); i++)
                                {
                                    <div style="display: inline-block;">
                                        <img src="~/Content/Images/star_gold_small.png" />
                                    </div>
                                }
                                for (int j = 0; j < 5 - Int32.Parse(b.Mark); j++)
                                {
                                    <div style="display: inline-block;">
                                        <img src="~/Content/Images/star_gray_small.png" />
                                    </div>
                                }
                            }
                        </div> 
                        <div class="rating">
                            <a>imdb:@b.Movie.IMDBRating</a>
                        </div> 
                       <div class="date">
                           @*<a>@b.NotedDate.ToString("dd/MM/yyyy")</a>*@
                       </div>
                       
                        <div class="comment">
                            @if(b.Comment.Length > 220)
                            {
                                @b.Comment.Substring(0, 220) 
                                <a>...</a>
                            }
                            else
                            {
                                @b.Comment
                            }
                        </div>                 
                    </div>
                    
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            @*<h3>Saved movies: @ViewBag.Movies.Count</h3>*@
            <div class="col-md-11 col-centered profile">
                 <div class="photo">
                     <img src="http://img1.reactor.cc/pics/post/Dota-zoidberg-Leviathan-the-Tidehunter-609169.jpeg" />
                 </div>
                 <div class="info">
                     <p>@ViewBag.User.Id</p>
                     <p>@ViewBag.User.Email</p>
                     <p>@ViewBag.User.NickName</p>
                     <p>@ViewBag.User.Status</p>
                 </div>

            </div>
        </div>
        <h3>My movies</h3>
        <div class="row">
            @foreach (var b in ViewBag.Movies)
            {
                <div class="notation">
                    <div class="title">
                        <div style="display: inline-block;">
                            <h4><a href="@b.IMDBLink" style="color: black;">@b.Title (@b.EventDate)</a> </h4>
                        </div>
                        <div class="deletenote">
                            <a href="@Url.Action("Delete", new { movieId = b.MovieId })">
                                <img src="~/Content/Images/delete.png" />
                            </a>
                        </div>
                            <div class="addnote">
                                <a href="@Url.Action("Add", new { movieId = b.MovieId })">
                                    <img src="~/Content/Images/add.png" />
                                </a>
                            </div>
                        
                    </div>
                    <div class="poster">
                        <a href="@b.IMDBLink"><img src="@b.Poster" /></a>
                    </div>
                    
                    <div class="author">
                        <div class="authorname">
                            @*<a> @b.UserName </a>*@
                        </div>
                        @*<div class="mark">
                            @if (b.Mark != null)
                            {
                                for (int i = 0; i < Int32.Parse(b.Mark); i++)
                                {
                                    <div style="display: inline-block;">
                                        <img src="~/Content/Images/star_gold_small.png" />
                                    </div>
                                }
                                for (int j = 0; j < 5 - Int32.Parse(b.Mark); j++)
                                {
                                    <div style="display: inline-block;">
                                        <img src="~/Content/Images/star_gray_small.png" />
                                    </div>
                                }
                            }
                        </div>*@
                        <div class="rating">
                            <a>imdb:@b.IMDBRating</a>
                        </div> 
                        <div class="date">
                            @*<a>@b.NotedDate.ToString("dd/MM/yyyy")</a>*@
                        </div>
                        @*<div class="comment">
                            @if (b.Comment.Length > 220)
                            {
                                @b.Comment.Substring(0, 220)
                                <a>...</a>
                            }
                            else
                            {
                                @b.Comment
                            }
                        </div>*@
                    </div>
                </div>
            }
            <hr />
            <h3>My notes</h3>
            <br />
            @foreach (var b in ViewBag.Notes)
            {
                <div class="notation">
                    <div class="title">
                        <div style="display: inline-block;">
                            <h4><a href="@b.Movie.IMDBLink" style="color: black;">@b.Movie.Title (@b.Movie.EventDate)</a> </h4>
                        </div>
                        <div class="deletenote">
                            <a href="@Url.Action("Delete", new { noteId = b.MovieId })">
                                <img src="~/Content/Images/delete.png" />
                            </a>
                        </div>

                    </div>
                    <div class="poster">
                        <a href="@b.Movie.IMDBLink"><img src="@b.Movie.Poster" /></a>
                    </div>

                    <div class="author">
                        <a>imdb:@b.Movie.IMDBRating</a>
                        <br />
                        <div class="date">
                            @*<a>@b.NotedDate.ToString("dd/MM/yyyy")</a>*@
                        </div>
                        <div class="comment">
                            @if (b.Comment.Length > 220)
                            {
                                @b.Comment.Substring(0, 220)
                                <a>...</a>
                            }
                            else
                            {
                                @b.Comment
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    }

</body>
</html>