<head>
    <link href="~/Content/css/listofmoviesdcss" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/UserProfile.css" rel="stylesheet" type="text/css" />
    <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="row">
        @if (ViewBag.Message != null)
        {
            <h3>@ViewBag.Message</h3>
        }
        else
        {
            foreach (var b in ViewBag.Movies)
            {
                <div class="notation">
                    <div class="title">
                        <h4><a href="@b.IMDBLink" style="color: black;">@b.Title (@b.EventDate)</a> </h4>
                    </div>
                    <div class="poster">
                        <a href="@b.IMDBLink"><img src="@b.Poster" /></a>
                    </div>

                    <div class="author">

                        <div class="rating">
                            <a>imdb:@b.IMDBRating</a>
                        </div>

                    </div>

                </div>
            }
        }
    </div>

</body>